/* Center the container vertically and horizontally */
.onboarding-container {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
    background-color: #142b22; /* Background color */
    box-sizing: border-box; /* Include padding in width/height */
    position: relative; /* Required for absolutely positioned child elements */
}

/* Styling for the form */
.onboarding-form {
    text-align: center;
    align-items: center;
    width: 80%; /* Occupy 80% of the width */
    max-width: 400px; /* Limit maximum width */
    color: #d0ceba; /* Matching text color */
}

/* Styling for the label (question) */
.onboarding-label {
    font-size: 2.5rem; /* Bigger text for emphasis */
    font-weight: bold;
    text-align: center; /* Center-align the text */
    color: #d0ceba;
    margin-bottom: 40px; /* Space below question */
}

/* Styling for the input field */
.onboarding-input {
    width: 80%;

    padding: 15px;
    font-size: 1.2rem;
    border-radius: 4px;
    border: 1px solid #BDD392; /* Match the button color */
    background-color: transparent; /* Transparent background */
    color: #BDD392;
    margin-bottom: 30px; /* Add space below input */
    margin-top: 30px; /* Add space below input */

}

.onboarding-input::placeholder {
    color: #BDD392;
    opacity: 0.8; /* Slightly faded placeholder */
}

.onboarding-input:focus {
    outline: none;
    border-color: #A8C168; /* Highlighted input on focus */
}

/* Center the button */
.onboarding-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; /* Space below the button */
}

/* Button styling */
.onboarding-button {
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #BDD392;
    color: #42302F;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.onboarding-button:hover {
    background-color: #A8C168;
    color: #FFFFFF; /* White text on hover */
}

/* Styling for the image */
.landing-image {
    max-width: 100%;
    height: auto;
    position: absolute;
    align-self: center; 
    align-self: flex-end;
    left: 50%;
    margin-top: auto;
    transform: translateX(-50%);
}
