.home-button {
	background-color: #8e3a1800;
	color: #d0ceba;
	border: 2px solid #d0ceba;
	padding: 10px 20px;
	margin-top: 30px;
	border-radius: 20px;
	font-weight: 600;
	font-size: 1.2em;
	height: 50px;

}
.blue-button {
    background-color: #42302F;
    color: #BDD392;
    border: 1px solid #BDD392;
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 20px;
    font-weight: 600;
    font-size: medium;

}
