/* Footer.css */
.footer {
    display: flex;
    /* justify-content: space-around; */
    align-items: center; /* Align items vertically */
    padding: 10px;
    background-color: #6f6b50;
    position: fixed;
    bottom: 0;
	padding-left: 2em;
	padding-right: 2em;
    width: 100%;
    color: white;
  }
  
  .footer-button {
    display: flex;
    align-items: center;
    background-color: #8e3a18;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #d0ceba;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
  }

  .footer-button svg {
    margin-left: 15px; /* Add space between the icon and text (adjust the value as needed) */
  }
  
  .footer-button:hover {
    background-color: #21f12b;
  }
  